html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
/* Defining body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Defining header styles */
header {
    background-color: #2f602e;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
    display: inline;
}

/* Navigation bar styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

nav ul li:hover {
    background-color: #dad9d9;
}

/* Navigation bar - Dropdown style */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul li:hover ul {
    display: block;
}

/* Navigation bar - Define styles for child elements of dropdown */
nav ul li ul li {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 5px;
    margin-top: 5px;
}

nav ul li ul li {
    background-color: #f2f2f2;
}

nav ul li ul li a {
    color: #000;
}

nav ul li ul li a:hover {
    color: #2F4F4F;
}

/* New videos section */
#new-videos {
    margin: 20px;
}

/* Video grid styles */
#grouped-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.video-item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-card {
    box-sizing: border-box;
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.video-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-title a {
    text-decoration: none;
    color: #2F4F4F;
}

.video-embed {
    /* Adjust this value to change the size of the videos */
    height: 200px;
    overflow: hidden;
}

.video-embed iframe {
    width: 100%;
    height: 100%;
}

.video-info {
    font-size: .9em;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-date {
    font-size: .8em;
    color: #999;
}

/* Media queries for larger screen grids */
@media screen and (min-width: 600px) {
    .video-item {
        flex-basis: 48%;
    }
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;  /* 16:9 aspect ratio */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.pagination a {
    color: #2F4F4F;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #2F4F4F;
    margin: 0 10px;
    transition: all 0.3s ease-out;
}

.pagination a:hover {
    background-color: #2F4F4F;
    color: #fff;
}

/* Styles for video table */
table#videos {
    width: 100%;
}

table#videos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2F4F4F;
    color: white;
}

/* Footer styles */
footer {
    background-color: #2F4F4F;
    text-align: center;
    padding: 20px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}