<!DOCTYPE html>
<html>
    <head>
        <!-- Include CSS stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <!-- Include jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Include your scripts.js -->
        <script src="/static/scripts.js"></script>
        <!-- Set the page title -->
        <title>Kid's Videos</title>
    </head>
<body>
    <!-- Header with page title and navigation bar -->
    <header>
        <h1>New Learning Videos</h1>
        {% include 'navbar.html' %}
    </header>
    <!-- Section for new videos -->
    <section id="new-videos">
        <h2>New Videos</h2>
        <!-- Iterate through the videos data -->
        {% for video in videos %}
            <div>
                <!-- Display video title -->
                <h3>{{ video[1] }}</h3> 
                <!-- Display video category and channel -->
                <p>Category: {{ video[2] }}  |  Channel: {{ video[5] }}</p> 
                <!-- Videos are embedded from YouTube using their links -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ 
                video[3].split('watch?v=')[-1].split('/')[0] }}?rel=0" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- Display video upload date -->
                <p>Uploaded on: {{ video[4] }}</p>
            </div>
            <hr>
        {% endfor %}
    </section>

</body>
</html>