<!DOCTYPE html>
<html>
    <head>
        <!-- Include CSS stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <!-- Include jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Include your scripts.js -->
        <script src="/static/scripts.js"></script>
        <!-- Set the page title -->
        <title>Kid's Videos</title>
    </head>
<body>
    <!-- Header with page title and navigation bar -->
    <header>
        <h1>New Learning Videos</h1>
        {% include 'navbar.html' %}
    </header>
    <!-- Section for new videos -->
    <section id="new-videos">
        <h2>New Videos</h2>
        <!-- Creating a container for the videos -->
        <div class="videos-container">
            <!-- Iterate through the videos data -->
            {% for video in videos %}
                <!-- Each video has its own container -->
                <div class="video-card">
                    <!-- Display video title as a link -->
                    <h3 class="video-title"><a href="/video/{{ video[0] }}">{{ video[1] }}</a></h3>
                    <!-- Embed videos from YouTube using their links -->
                    <div class="video-embed">
                        <iframe src="https://www.youtube.com/embed/{{ video[3].split('watch?v=')[-1].split('/')[0] }}?rel=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <!-- Display video category and channel -->
                    <p class="video-info">Category: {{ video[2] }}  |  Channel: {{ video[5] }}</p>
                    <!-- Display video upload date -->
                    <p class="video-date">Uploaded on: {{ video[4] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>