<!-- navbar.html -->
<!-- Navigation bar section containing links to different parts of the website -->
<nav>
    <ul id="menu">
        <!-- Link to new videos -->
        <li id="newVideos"><a href="/">New Videos</a></li>
        <!-- Dropdown menu for video categories -->
        <li id="videoCategories"><a href="#">Categories &#x25BE;</a>
            <ul id="categoriesDropdown">
                <!-- Video categories will be dynamically loaded here -->
            </ul>
        </li>
        <!-- Dropdown menu for video channels -->
        <li id="videoChannels">
            <a href="#">Channels &#x25BE;</a>
            <ul id="channelsDropdown">
                <!-- Video channels will be dynamically loaded here -->
            </ul>
        </li>
        <!-- Link to the page displaying all videos -->
        <li><a href="/database">All Videos</a></li>
    </ul>
</nav>