<!DOCTYPE html>
<html>
    <head>
        <!-- Include CSS stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <!-- Include jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Include your scripts.js -->
        <script src="/static/scripts.js"></script>
        <!-- Set the page title -->
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Learning Videos</h1>
        {% include 'navbar.html' %}
    </header>
    <!-- Display the video title -->
    <h1>{{ title }}</h1>
    <!-- Display the video category -->
    <p>Category: {{ category }}</p>
    <!-- Embed the video player using the video_id -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}?rel=0" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    <!-- Display the video upload date -->
    <p>Date Uploaded: {{ upload_date }}</p>
    <!-- Back button to return to previous page -->
    <a href="/">Back</a>
</body>
</html>